<h1><%= @hotel.name %></h1>
<p><%= @hotel.description %></p>
<p><%= @hotel.location %></p>
<ul>
    <% @hotel.amenities.each do |amenity| %>
    <li><%= amenity %></li>
    <% end %>
</ul>

<%= link_to 'Add Room', new_hotel_room_path(@hotel) %>
<%= link_to 'Edit', edit_hotel_path(@hotel) %>

<h2>Rooms</h2>
<ul>
    <% @hotel.rooms.each do |room| %>
    <li>
        <strong>Room Type:</strong> <%= link_to room.room_type, hotel_room_path(@hotel, room) %><br>
        <strong>Capacity:</strong> <%= room.capacity %><br>
        <strong>Price:</strong> $<%= room.price %><br>
        <strong>Amenities:</strong>
        <ul>
            <% room.amenities.each do |amenity| %>
            <li><%= amenity %></li>
            <% end %>
        </ul>
    </li>
    <% end %>
</ul>

<%= link_to 'Back', admin_home_view_path %>